/* header */
.header {
  width: 100%;
  height: auto;
  /* border: 1px solid red; */
  box-sizing: border-box;
  background-image: url('https://cdn.pixabay.com/photo/2018/08/18/18/42/emotions-3615255__340.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}

.nav{
  width: 100%;
  max-width: 1200px;
  /* border: 1px solid red; */
  box-sizing: border-box;
  margin: auto;
  background-color: skyblue;
  opacity: 0.8;
}

.nav::after {
  content: "";
  display: block;
  clear: both;
}

.logo{
  width: 100px;
  height: auto;
  /* border: 1px solid red; */
  float: left;
  text-align: center;
  line-height: 80px;
  background-color: aqua;
  margin-top: auto;
}

.gnb{
  width: 500px;
  height: auto;
  /* border: 1px solid red; */
  float: right;
}

.gnb > ul {
  
}

.ul::after{
  content: "";
  display: block;
  clear: both;
}

.gnb > ul > li {
  background-color: aqua;
  width: 20%;
  height: auto;
  float: left;
  text-align: center;
  line-height: 80px;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.gnb > ul > li > a{
  background-color: aqua;
  color: black;
  display: block;
}

.gnb > ul > li > a:hover{
  background-color: red;
  color: yellow;
}